{% extends "isaa_base.html" %}
{% load static %}
{% block title %}
{% endblock %}


{% block content %}    
<body>
    <div>
        <b class="h1" style="color:white; text-shadow: 4px 1px 6px #000000;">Error 404:</b>
        <p class="lead" style="color:white; text-shadow: 4px 1px 6px #000000;">
            Ladies and gentlemen, the Universe as we know it has now been in existence for over
            one hundred and seventy thousand million billion years and will be ending in a little over half an hour.
             So, welcome one and all to Milliways, the Restaurant at the End of the Universe!
        <p>
    </div>  
</body>
{% endblock %}