{% extends "isaa_base.html" %}
{% load static %}
{% block title %}
{% endblock %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>
    <b class="h1">Resources</b>
    <p class="lead">
      Almost all 3rd level institutions on the Island of Ireland have an archery club,
      those affiliated with the ISAA are listed below.
    <p>
        <div style="text-align: center;">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FDublin&showTz=0&mode=AGENDA&showNav=0&showTitle=0&showCalendars=0&src=Y18wZjhkNjA4ZThlNWI4YzQwNTA2Yjk0NDM0MzE3ZmIzYjBmOWQwM2M4MTAyZGU3YTIzMDM2Nzg0NjExMjdkYmVmQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23E4C441" style="border-width:0" width="1000" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
    <div class="container">
        <iframe id="ianseoframe" src="https://www.ianseo.net/TourData/2024/19554/IC.php" title="Ianseo" style="width: 100%; height: 700px;"></iframe>
    </div>
<footer id="isaa_footer.html"></footer>
{% endblock %}